langchain==1.2.15
langchain-core==1.2.23
langchain-text-splitters==1.1.1
langchain-community==0.4.1
langchain-classic==1.0.3
langchain-openai==1.1.12
langchain-tavily==0.2.17
langgraph==1.1.6
langgraph-checkpoint-sqlite==3.0.3
langmem==0.0.30
openapi-pydantic==0.5.1
openai==2.30.0
matplotlib==3.10.8
httpx==0.28.1
pydantic==2.12.5
requests==2.33.1
wikipedia==1.4.0
